div p {
  border: 5px solid mediumspringgreen;
}
#show {
  width: 500px;
  height: 500px;
  background-color: yellow;
  background-image: url('../img/timg.jpg');
}
#show2 {
  width: 500px;
  height: 500px;
  background-color: yellow;
  background-image: url('../img/cai.jpg');
}
